html {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;

    --height-to-width-ratio: 1.41;
    --page-width: 100vw;
    --page-heigth: calc(var(--page-width) * var(--height-to-width-ratio));
    --header-height: calc(var(--page-width) * 0.32);
}

body {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    width: var(--page-width);
    height: var(--header-height);

    background-color: #121212;
    display: grid;
    grid-template-rows: 50fr 30fr 20fr;
}

#dropdown-contacts {
    display: none;
}

.header-part {
    width: 100%;
    height: 100%;
}

#profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#profile-pic {
    width: 10%;
    border-radius: 50%;
    border: 1vw solid rgba(255, 255, 255, 0.07);
}

#header-text {
    text-align: center;
}

#header-text > #name {
    font-size: calc(20px + 1vw);
    font-weight: 700;
    color: #FFF;
    line-height: 1vw;
}

#header-text > #role {
    font-size: calc(10px + 0.8vw);
    color:rgba(255, 255, 255, 0.7);
    line-height: 1vw;
}

#header-info {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    width: 100%;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2vw;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

#header-info > #address-container {
    justify-content: end;
}

#address-container > #location-pin {
    width: 1.4vw;
}

#address-container > #flag {
    color: #FFF;
}

#header-info > #email-container {
    justify-content: center;
}

#header-info > #phone-container {
    justify-content: baseline;
}

#container {
    display: grid;
    grid-template-columns: 59fr 41fr;
    height: calc(var(--page-heigth) - var(--header-height));
}

#print-cv {
    position: fixed;
    border-radius: 50%;
    border: 1px solid black;

    --button-width: 5vw;
    --button-height: calc(100vw * 0.05);
    width: var(--button-width);
    height: var(--button-height);

    top: calc(100vh - var(--button-height) - 10px);
    left: calc(100vw - var(--button-height) - 10px);
}

@media screen and (max-width: 1024px) {
    header {
        grid-template-rows: 60fr 40fr;
    }

    #profile-pic-container {
        align-items: end;
    }

    #profile-pic-container > #profile-pic {
        width: 15%;
    }
    
    #header-info {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #header-text > #name {
        font-size: calc(15px + 1vw);
    }

    #header-text > #role {
        font-size: calc(10px + 0.8vw);
    }
}

@media screen and (max-width: 425px) {
    header {
        grid-template-rows: none;
        grid-template-columns: 50fr 50fr;
    }

    #profile-pic-container {
        justify-content: center;
        align-items: center;
    }

    #profile-pic-container>#profile-pic {
        width: 50%;
    }

    #header-text {
        text-align: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    #header-text>#name {
        font-size: calc(12px + 0.8vw);
    }
    
    #header-text>#role {
        font-size: calc(8px + 0.8vw);
    }

    #print-cv {
        position: fixed;
        border-radius: 50%;
        border: 1px solid black;

        --button-width: 10vw;
        --button-height: calc(100vw * 0.1);
        width: var(--button-width);
        height: var(--button-height);
    
        top: calc(100vh - var(--button-height) - 10px);
        left: calc(100vw - var(--button-height) - 10px);
    }
}