html {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;

    --height-to-width-ratio: 1.41;
    --page-width: 100vw;
    --page-heigth: calc(var(--page-width) * var(--height-to-width-ratio));
    --header-height: calc(var(--page-width) * 0.32);
}

body {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    width: var(--page-width);
    height: var(--header-height);

    background-color: #121212;
    display: grid;
    grid-template-rows: 50fr 30fr 20fr;
}

.header-part {
    width: 100%;
    height: 100%;
}

#profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#profile-pic {
    width: 10%;
    border-radius: 50%;
    border: 1vw solid rgba(255, 255, 255, 0.07);
}

#header-text {
    text-align: center;
}

#header-text > #name {
    font-size: calc(20px + 1vw);
    font-weight: 700;
    color: #FFF;
    line-height: 1vw;
}

#header-text > #role {
    font-size: calc(10px + 0.8vw);
    color:rgba(255, 255, 255, 0.7);
    line-height: 1vw;
}

.header-info-container {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    width: 100%;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2vw;
}

#header-info-footer {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

#header-info > #address-container {
    justify-content: end;
}

#address-container > #location-pin {
    width: 1.4vw;
}

#address-container > #flag {
    color: #FFF;
}

#header-info > #email-container {
    justify-content: center;
}

#header-info > #phone-container {
    justify-content: baseline;
}

/* PRINT BUTTON */

#print-button {
    position: fixed;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #121212;

    --button-width: 3vw;
    --button-height: calc(100vw * 0.03);
    width: var(--button-width);
    height: var(--button-height);

    top: calc(100vh - var(--button-height) - 15px);
    left: calc(100vw - var(--button-height) - 15px);
}

#print-button:hover {
    background-color: rgba(12, 12, 12, 0.1);
}

#print-button:focus {
    background-color: rgba(12, 12, 12, 0.3);
}

/* BODY */

#container {
    display: grid;
    grid-template-columns: 59fr 41fr;
    height: calc(var(--page-heigth) - var(--header-height));
    padding: 5vw 0;
    --section-font-size: 1.2vw;
}

#left-sect, #right-sect {
    padding: 0 5vw;
}

#right-sect {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

#left-sect {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.section-element {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 1vw;
}

.section-heading {
    font-size: calc(15px + 1vw);
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.3px;
    line-height: 0;
}

.resourse-link {
    font-size: var(--section-font-size);
    color: rgba(0, 0, 0, 0.7);
    display: block;
    text-decoration: none;
}

.resourse-link:hover {
    color: #121212;
}

.skill {
    line-height: 0;
    font-size: var(--section-font-size);
    color: rgba(0, 0, 0, 0.7);
}

#skill-text {
    font-size: calc(10px + 1vw);
    color: rgba(12, 12, 12, 0.15);
    line-height: 0;
}

.experience-heading {
    font-size: calc(7px + 1vw);
    font-weight: 700;
    color: #121212;
    line-height: 0;
}

.experience-role {
    font-size: calc(6px + 1vw);
    color: #121212;
    line-height: 2vw;
    text-transform: capitalize;
}

.experience-date {
    color: rgba(0, 0, 0, 0.7);
    font-size: var(--section-font-size);
    line-height: 0;
}

.experience-list {
    color: rgba(0, 0, 0, 0.7);
    font-size: var(--section-font-size);
    line-height: 2vw;
}

.education-module {
    display: flex;
    flex-direction: column;
}

@media print {
    #email-icon, #phone-icon {
        width: 10px;
    }

    #print-button {
        display: none;
    }

    #skill-text {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    header {
        grid-template-rows: 60fr 40fr;
    }

    #profile-pic-container {
        align-items: end;
    }

    #profile-pic-container > #profile-pic {
        width: 15%;
    }
    
    #header-info {
        display: none;
    }

    #header-info-footer {
        background-color: rgba(12, 12, 12, 0.3);
        display: grid;
        grid-template-columns: 33fr 33fr 33fr;
    }

    #header-info-footer > #address-container {
        justify-content: end;
    }
    
    #header-info-footer > #email-container {
        justify-content: center;
    }
    
    #header-info-footer > #phone-container {
        justify-content: baseline;
    }

    #email-icon, #phone-icon {
        width: 1.5vw;
    }

    #container {
        height: 100%;
    }

    #address-container>#location-pin:hover {
        width: 4vw;
        animation-timing-function: linear;
    }

    #email-container > #email-icon:hover {
        width: 5.5vw;
        height: 4vw;
        animation-timing-function: linear;
    }

    #phone-container>#phone-icon:hover {
        width: 4.5vw;
    }
}

@media screen and (max-width: 768px) {
    #header-text > #name {
        font-size: calc(15px + 1vw);
    }

    #header-text > #role {
        font-size: calc(10px + 0.8vw);
    }

    #print-button {
        --button-width: 5vw;
        --button-height: calc(100vw * 0.05);
        width: var(--button-width);
        height: var(--button-height);
    
        top: calc(100vh - var(--button-height) - 15px);
        left: calc(100vw - var(--button-height) - 15px);
    }

    .section-heading {
        font-size: calc(10px + 1vw);
    }

    .experience-heading {
        font-size: calc(5px + 1vw);
    }
    
    .experience-role {
        font-size: calc(4px + 1vw);
    }

    #container {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        --section-font-size: 1.7vw;
    }

    #header-info-footer {
        font-size: calc(7px + 1vw);
    }
}

@media screen and (max-width: 425px) {
    header {
        grid-template-rows: none;
        grid-template-columns: 50fr 50fr;
    }

    #profile-pic-container {
        justify-content: center;
        align-items: center;
    }

    #profile-pic-container>#profile-pic {
        width: 50%;
    }

    #header-text {
        text-align: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    #header-text>#name {
        font-size: calc(15px + 1vw);
    }
    
    #header-text>#role {
        font-size: calc(10px + 1vw);
    }

    #skill-text {
        display: none;
    }

    .section-heading {
        font-size: calc(15px + 1vw);
    }

    .experience-heading {
        font-size: calc(10px + 1vw);
    }

    .experience-role {
        font-size: calc(9px + 1vw);
        line-height: 15px;
    }

    .experience-date {
        font-size: calc(9px + 1vw);
    }

    .experience-list {
        font-size: calc(9px + 1vw);
        line-height: 20px;
    }

    #container {
        --section-font-size: calc(9px + 1vw);
    }

    #header-info-footer {
        display: flex;
        justify-content: center;
        gap: 5vw;
        font-size: calc(7px + 1vw);
        padding: 10px 0;
    }

    .header-container {
        gap: 2vw;
    }

    .header-info-text {
        display: none;
    }

    span {
        display: none;
    }
    
    #address-container > #location-pin {
        width: 3vw;
    }

    #email-container > #email-icon {
        width: 4.5vw;
        height: 3vw;
    }

    #phone-container > #phone-icon {
        width: 3.5vw;
    }

    #address-container>#location-pin:hover {
        width: 4vw;
        animation-timing-function: linear;
    }

    #email-container > #email-icon:hover {
        width: 5.5vw;
        height: 4vw;
        animation-timing-function: linear;
    }

    #phone-container>#phone-icon:hover {
        width: 4.5vw;
    }
}

@media screen and (max-width: 320px) {
    header {
        grid-template-columns: 40fr 60fr;
    }

    #profile-pic-container>#profile-pic {
        width: 60%;
    }
}