html {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;

    --height-to-width-ratio: 1.41;
    --page-width: 100vw;
    --page-heigth: calc(var(--page-width) * var(--height-to-width-ratio));
    --header-height: calc(var(--page-width) * 0.32);
}

body {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    width: var(--page-width);
    height: var(--header-height);

    background-color: #121212;
}

#profile-pic {
    position: relative;
    width: 10%;
    border-radius: 50%;
    top: 10%;
    left: 44.1%;
    border: 10px solid rgba(255, 255, 255, 0.07);
}

#header-text {
    position: relative;
    width: 100%;
    text-align: center;
    top: 10%;
    line-height: 10px;
}

#header-text > #name {
    font-size: calc(30px + 0.390625vw);
    color: #FFF;
    font-weight: 700;
}

#header-text > #role {
    font-size: calc(15px + 0.390625vw);
    color: rgba(255, 255, 255, 0.7);
    font-weight: lighter;
}

#header-info {
    position: relative;
    width: 70%;
    height: 19%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    top: 20%;
    font-size: calc(15px + 0.390625vw);
}

.header-container {
    display: grid;
    grid-template-columns: 5fr 95fr;
    width: 100%;
}

.header-info-text {
    position: relative;
    height: fit-content;
    color: rgba(255, 255, 255, 0.70);
    margin: 0;
    top: 35%;
    left: 5%;
}

.header-info-icon {
    position: relative;
    top: 37%;
}

#email-container {
    grid-template-columns: 10fr 90fr;
}

#email-container > #email-icon {
    top: 40%;
    left: 40%;
}

#phone-container {
    grid-template-columns: 43fr 57fr;
}

#phone-container > #phone-icon {
    left: 85%;
}

#hr {
    position: relative;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    top: 20%;
}

#container {
    display: grid;
    grid-template-columns: 59fr 41fr;
    height: calc(var(--page-heigth) - var(--header-height));
}

@media screen and (min-width: 769px) {
    #print-cv {
            position: fixed;
            border-radius: 50%;
            border: 1px solid black;
    
            --button-width: 5vw;
            --button-height: calc(100vw * 0.05);
            width: var(--button-width);
            height: var(--button-height);
    
            top: calc(100vh - var(--button-height) - 10px);
            left: calc(100vw - var(--button-height) - 10px);
    }
}

@media screen and (max-width: 768px) {
    #print-cv {
            position: fixed;
            border-radius: 50%;
            border: 1px solid black;
    
            --button-width: 10vw;
            --button-height: calc(100vw * 0.1);
            width: var(--button-width);
            height: var(--button-height);
    
            top: calc(100vh - var(--button-height) - 10px);
            left: calc(100vw - var(--button-height) - 10px);
        }
}